.button {
  border: none;
  color: white;
  background-color: $primary-color;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
}